@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
  font-family: 'Noto Sans', sans-serif;
  font-size: small;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings: 'wdth' 100;
}

main {
  min-height: 100vh !important;
}
.btn-success {
  background-color: #4caf50 !important;
}
.text-success {
  color: #4caf50 !important;
}
.border-success {
  border-color: #4caf50 !important;
}
.rounded-custom {
  border-radius: 15px;
}
.rounded-cs-50 {
  width: 10px !important;
  height: 10px !important;
  border-radius: 50% !important;
}
.img-size-logo {
  width: 30px;
  height: 30px;
}
.h-min {
  min-height: 322px !important;
}
footer {
  position: relative;
  bottom: 0;
  width: 100%;
  text-align: center;
}
.card-title {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.active-btn {
  background-color: #69db6d !important;
  color: white !important;
}

.slide-content {
  display: flex !important;
  align-items: center !important; /* Vertically center the content */
  justify-content: space-between !important; /* Space between content and image */
  padding: 0 20px !important; /* Jarak dari samping kanan dan kiri */
}
.img-prod1 {
  max-width: 350px !important; /* Pastikan gambar responsif */
  max-height: 350px !important; /* Pastikan gambar responsif */
}
@media (min-width: 768px) {
  .slide-content {
    margin: 0 100px !important;
  }
}
@media (min-width: 350px) and (max-width: 560px) {
  .img-prod1 {
    max-width: 150px !important; /* Pastikan gambar responsif */
    max-height: 150px !important; /* Pastikan gambar responsif */
  }
}
